{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>N&uuml;Home</title>
	
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

	<body>

		<main class="container">
			<!-- START HERE --> 
			<section>
				<h1>We're N&uuml;Home,</h1>
				<h2>Bringing you the future home today!</h2>

				<p>Today's smart home technologies can turn any house with an internet connection into a dream. But there are too many choices, installation can be complicated and devices don't work well together. This is not so smart.</p>

				<p>At N&uuml;Home we find the best products, work with realtors and home builders to test them in real living spaces and develop proprietary solutions so they work well together. We also connect you with local installers.</p>

				<p>Sign up to be the first to get updates on our <strong>enchanted home project</strong> &amp; follow us on social media.</p>
			</section>
			<footer>
				<p>Email us now for a PDF of our picks for Top 10 smart home devices and apps: <a mailto:"NuHomeTO@gmail.com">NuHomeTO@gmail.com</a></p>

				<a href="#" target="_blank">
					<img src="{% static "images/twitter.png" %}" alt="Twitter">
				</a>

				<a href="#" target="_blank">
					<img src="{% static "images/facebook.png" %}" alt="Facebook">
				</a>
			</footer>
			<!-- END HERE --> 
		</main><!-- .container --> 

	</body>
</html>